.content {
    width: 70%;
    position: absolute;
    right: 0;
}

iframe {
    display: none;
}

.button-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons-prevent {
    pointer-events: none;
}
