/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #9da5f0;
    position: fixed;
    height: 100%;
    overflow: auto;
    max-width: 200px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #ffffff;
    /* color: white; */
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.burger-div {
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 100%;
    }
    .sidebar a {
        text-align: center;
        float: none;
    }
    div.content {
        margin-left: 0;
    }

    .burger-div {
        display: block;
    }

    .nav-list {
        display: hidden;
    }
}

.nav-brand {
    font-weight: bold;
    font-size: 2.5rem;
}
